
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
              <h1 class="h2 pt-xl-1 pb-3">Mes Cartes</h1>

              <div class="card"  *ngFor="let c of listCartes">

                <img src="assets/card.png"  alt="CREDIT CARD" >
                <div class="card-info">
                  <h2> {{c.CardHolderName}}</h2>
                  <p>Card Number: {{c.CardNumber}}</p>
                  <p>Expiration Date: {{c.ExpirationDate}}</p>
                  <p>CVV: {{c.CVV}}</p>
                </div>
              </div>
              