<div *ngIf="(user$ | async) as user">
  <h2>Mes Cartes</h2>
  <div *ngIf="user.approved">
    <p>Nom: {{ user.f1Name }}</p>
    <p>RIB: {{ user.rib }}</p>
    <p>Date d'expiration: {{ user.dateExpiration }}</p>
    <p>CIN: {{ user.cin }}</p>
  </div>
  <div *ngIf="!user.approved && user.statut === 'rejected'">
    <p>Votre demande de carte a été rejetée.</p>
  </div>
  <div *ngIf="!user.approved && user.statut !== 'rejected'">
    <p>Votre demande de carte n'a pas encore été approuvée.</p>
  </div>
</div>
