


                <!-- Account details -->
                <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                    <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
                        <h1 class="h2 pt-xl-1 pb-3"></h1>

                        <!-- compte special -->
                        <!-- <div _ngcontent-avu-c59="" class="card border-0 shadow-sm overflow-hidden mb-4 p-0">
                            <div _ngcontent-avu-c59="" class="row g-0">
                                <div _ngcontent-avu-c59="" class="col-8">
                                    <div _ngcontent-avu-c59="" class="card-body">
                                        <h2 _ngcontent-avu-c59="" class="h4 pb-1 mb-2"><a _ngcontent-avu-c59="">COMPTES
                                                CHEQUES</a></h2>
                                        <p _ngcontent-avu-c59="" class="m-0">RIB : 10004034514190278816</p>
                                    </div>
                                </div>
                                <div _ngcontent-avu-c59="" class="col-4 selfCenter text-center textShadow"
                                    style="color: green;"><b _ngcontent-avu-c59=""><span _ngcontent-avu-c59=""
                                            class="text-bold" style="font-size: 30px;"> 1000.000 </span> TND</b></div>
                                
                            </div>
                        </div> -->
<div class="w-100" >
    <div _ngcontent-avu-c59="" class="card border-0 shadow-sm overflow-hidden mb-4 p-0">
        <div _ngcontent-avu-c59="" class="row g-0">
            <div _ngcontent-avu-c59="" class="col-8">
                <div _ngcontent-avu-c59="" class="card-body">
                    
                    <h2 _ngcontent-avu-c59="" class="h4 pb-1 mb-2">
                        <a class="m-0" routerLink="/details/" >Compte {{ dataProfile.accountType}}</a>
                    </h2>
                    <p _ngcontent-avu-c59="" class="m-0">RIB : {{ dataProfile.rib}}  </p>
                </div>
            </div><!---->
            <div _ngcontent-avu-c59="" class="col-4 selfCenter text-center textShadow"
                style="color: green;"><b _ngcontent-avu-c59="">{{ dataProfile.solde}}<span _ngcontent-avu-c59=""
                        class="text-bold" style="font-size: 30px;"> </span> TND</b></div>
                        
            <!---->
        </div>
    </div>

</div>






                                                  






                                                   
                                               


                                           

                            



                           





   
