<mat-card class="uk-position-center uk-overlay uk-overlay-default">
    <mat-card-header>
        <mat-card-title style="color:black" class="mat-card-title">Login</mat-card-title>
        <img mat-card-avatar src="assets/logo_stb.png" />
      </mat-card-header>
    <form #f="ngForm" (ngSubmit)="login(f)">
      <div class="uk-margin">
        <mat-form-field>
          <mat-icon matPrefix>user</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput type="text" #email="ngModel" ngModel name="email">
        </mat-form-field>
      </div>
      <div class="uk-margin">
        <mat-form-field>
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" #password="ngModel" ngModel name="password">
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" color="primary" style="width: 100%;">Login</button>
      <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>
      <br>
      <br>
      <button mat-raised-button type="button" color="primary" style="width: 100%;" routerLink="/register">Register</button>
    </form>
  </mat-card>
  