
  
  <main class="page-wrapper" style="background-color: #003d86;">
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header class="header navbar navbar-expand-lg position-absolute navbar-sticky" style="background-color: #002148">
       <div class="container px-3">
          <a href="#" class="navbar-brand pe-3">
          <img src="assets/logo_mobile.jpg" width="47" >
          STB Everywhere
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
             <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
             </div>
             <div class="offcanvas-header border-top">
                <a class="btn btn-info w-100 btn-round" target="_blank" rel="noopener" routerLink='register'>
                &nbsp; Ouvrir un compte
                </a>
              
             </div>
                 <div class="offcanvas-header border-top">
                   <a class="btn btn-info w-100 btn-round" target="_blank" rel="noopener" routerLink="login">
                     &nbsp; Espace Client
                   </a>


              
                 </div>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <button type="button" class="btn btn-info rounded-pill ouvrircompteDeskTop" style="margin-right: 5px;" data-bs-toggle="modal" routerLink="login">
         Espace client
          </button>
          <button type="button" class="btn btn-info rounded-pill ouvrircompteDeskTop" data-bs-toggle="modal" routerLink="register">
         Ouvrir un compte
          </button>
       </div>
    </header>
    <!-- Hero -->
    <section class="overflow-hidden pt-5" style="background : url('assets/bg.jpg');
       background-repeat: no-repeat;background-position: center center;width:100% !important;
       ">
       <img src="assets/bg.jpg" alt="" class="img-fluid w-100">
       <div class=" pt-3 pt-sm-4 pt-xl-5" >
          <div class="row pt-md-2 pt-lg-5">
             <div class="col-md-4 d-none d-lg-block">
             </div>
             <div class="col-md-12 col-lg-4 col-xs d-flex flex-column mt-md-4 pt-5 pb-3 pb-sm-4 py-md-5">
                <h1 class="display-4 text-center  mb-4" style="color: white;font-size: 62px;">Le Digital C'est Nous!</h1>
                <p class="fs-lg text-center pb-2 pb-md-3 mb-4 mb-lg-5" style="color: white;font-size: 25px !important;">Ouvrez votre compte bancaire en quelques clics gérer toutes vos opérations bancaires en Ligne (depuis votre téléphone).</p>
             </div>
             
          </div>
       </div> 
    </section>
    <!-- Small modal -->

    <div class="modal fade" id="digi1" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">Digicarte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>1- Caractéristiques :
                   DigiCarte est une application gratuite, développée par La STB, qui vous permet de gérer vos différentes cartes bancaires à distance.
                   <br><br>
                   <br>2- Descriptif complet:<br>
                   - Vous informer sur toutes vos cartes STB (toute information relative aux cartes sera disponible)<br>
                   - Suivre vos opérations monétiques (TPE, GABs),<br>
                   - Consulter votre plafond restant suite à chaque opération de retrait,<br>
                   - Augmenter temporairement vos plafonds,<br>
                   - Bloquer ou débloquer votre carte à distance,<br>
                   - Consulter et déléguer vos cartes prépayées,<br>
                   - Recharger des cartes prépayées à partir de votre Compte chèque ou d’une autre carte prépayée, et ce en insérant soit le numéro ou le QR code de la carte prépayée à recharger,<br>
                   - Gérer vos dépenses,<br>
                   - Bénéficier de l’attestation de voyage sans vous déplacer à l’agence,<br>
                   - Géolocaliser les GABs STB.<br>
                   Avec DigiCarte vous pouvez jouir des meilleurs services de gestion des cartes nationales et internationales en toute sécurité.<br>
                   <br><br>
                   3- Eligibilité:<br>
                   DigiCarte est accessible aux particuliers comme aux professionnels.
                </p>
             </div>
          </div>
       </div>
    </div>




    <div class="modal fade" id="digi2" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">DigiEpargne</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>

                   1- Caractéristiques :<br>
DigiEpargne est une application simple téléchargeable gratuitement, permettant le suivi de votre compte Epargne à tout moment.<br>
<br><br>
2- Descriptif complet :<br>
Cette application vous permet de :<br>
- Consulter le solde de votre compte Epargne en temps réel,<br>
- Suivre les dernières opérations de votre compte épargne,<br>
- Consulter l’extrait de votre compte épargne,<br>
- Epargner les excédents de votre compte chèque,<br>
- Bloquer et débloquer votre compte épargne.<br>
3- Eligibilité :<br>
<br><br>
DigiEpargne est accessible aux particuliers comme aux professionnels ayant un compte Epargne.



                </p>
             </div>
          </div>
       </div>
    </div>





    <div class="modal fade" id="digi3" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">Digicredit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>

                   1- Caractéristiques :<br>
DigiCrédit est une application simple téléchargeable gratuitement sur Play Store ou Apple Store, permettant le suivi de vos crédits (anciens et demandes en cours).<br>
<br><br>
2- Descriptif complet :<br>
Cette application vous permet de :<br>
- Simuler un crédit,<br>
- Etude d’éligibilité,<br>
- Suivre avec toute transparence les différentes étapes de décision (demande
en cours),<br>
- Suivre l’encours des crédits,<br>
- Consulter les échéances écoulées et celles restantes.<br>
<br><br>
3- Eligibilité :<br>
DigiCrédit est accessible à toute personne souhaitant bénéficier d’un crédit ou ayant un crédit en cours à la STB.


                </p>
             </div>
          </div>
       </div>
    </div>




    <div class="modal fade" id="digi4" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">DigiTransfert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>
                   1- Caractéristiques :<br>
DigiTransfert est une application mobile téléchargeable gratuitement, permettant la gestion et le pilotage des opérations de transfert scolarité à distance et en toute sécurité.<br>
<br><br>
2- Descriptif complet:<br>
Cette application permet de :<br>
- Consulter tous les détails relatifs au dossier scolarité,<br>
- Simuler le coût du transfert,<br>
- Effectuer l’ordre du transfert à distance,<br>
- Recevoir une copie du Swift instantanément,<br>
- Être alerté sur le statut du dossier,<br>
- Suivre les mouvements effectués relatifs au dossier scolarité,<br>
- Suivre le tracking du dossier effectué.<br>
<br><br>
3- Eligibilité:<br>
DigiTransfert est destinée à toute personne ayant en charge un dossier de scolarité d’un étudiant tunisien ou étranger résident poursuivant ses études à l’étranger.

                </p>
             </div>
          </div>
       </div>
    </div>




    <div class="modal fade" id="digi5" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">DigiOPA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>


                   1- Caractéristiques :<br>
DigiOPA est une application mobile téléchargeable gratuitement, permettant de gérer et de suivre l’ensemble de vos dossiers OPA par compte.<br>
<br><br>
2- Descriptif complet :<br>
Cette application permet de :<br>
- Consulter tous les détails relatifs à vos dossiers OPA (détails) par compte<br>
- Recevoir instantanément l’avis d’arrivé des fonds et du mail de négociation<br>
- Consulter et télécharger des fichiers (l’attestation de rapatriement cx5, avis du client, Copie du Swift, avis de crédit, imputation compte ava…)<br>
- Consulter et suivre toutes les étapes du traitement du dossier OPA (les instructions choisies par le client, les différents fichiers, …)<br><br><br>
3- Eligibilité :<br>
DigiOPA est accessible à toute personne physique résidente en Tunisie, ou toute personne morale tunisienne ou étrangère pour ses établissements en Tunisie.



                </p>
             </div>
          </div>
       </div>
    </div>



    <div class="modal fade" id="digi6" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #003d86">
             <div class="modal-header">
                <h5 class="modal-title">DigiOPD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <p>


                   1- Caractéristiques :<br>
DigiOPD est une application simple téléchargeable gratuitement, permettant le suivi et la gestion de vos dossiers OPD.<br>
<br><br>
2- Descriptif complet :<br>
Cette application permet de :<br>
- Consulter tous les détails relatifs à vos dossiers OPD par compte ;<br>
- Consulter et télécharger des fichiers (avis d’opération, Copie du Swift,…),<br>
- Consulter et suivre toutes les étapes du dossier OPD (les instructions choisies par le client, les différents fichiers, …),<br>
- Suivi du tracking de l’opération de transfert émis.<br>
<br><br>
3- Eligibilité :<br>
DigiOPD est accessible à toute personne physique résidente en Tunisie, ou toute personne morale tunisienne ou étrangère pour ses établissements en Tunisie.<br>



                </p>
             </div>
          </div>
       </div>
    </div>



    <!-- Brands (carousel on screens < 1100px) -->
    <section class="container py-5 mt-md-2 mt-lg-4" id="services">
       <h1 class="h1 mb-5 text-center">Une panoplie de services innovants</h1>
       <div class="swiper pt-2 mx-n2 mt-3 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
          &quot;slidesPerView&quot;: 2,
          &quot;pagination&quot;: {
          &quot;el&quot;: &quot;.swiper-pagination&quot;,
          &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
          &quot;500&quot;: {
          &quot;slidesPerView&quot;: 3,
          &quot;spaceBetween&quot;: 8
          },
          &quot;650&quot;: {
          &quot;slidesPerView&quot;: 4,
          &quot;spaceBetween&quot;: 8
          },
          &quot;900&quot;: {
          &quot;slidesPerView&quot;: 5,
          &quot;spaceBetween&quot;: 8
          },
          &quot;1100&quot;: {
          &quot;slidesPerView&quot;: 6,
          &quot;spaceBetween&quot;: 8
          }
          }
          }">
          <div class="swiper-wrapper" id="swiper-wrapper-c31c5124b7641d88" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
             <!-- Item -->
             <div class="swiper-slide py-3 text-center swiper-slide-active" role="group" aria-label="1 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2 text-center" data-bs-toggle="modal" data-bs-target="#digi1" style="background-color: #fff">
                <img src="assets/digicarte.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">Digicarte</p>
             </div>
             <!-- Item -->
             <div class="swiper-slide py-3 text-center swiper-slide-next" role="group" aria-label="2 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2" data-bs-toggle="modal" data-bs-target="#digi2" style="background-color: #fff">
                <img src="assets/digiepargne.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">DigiEpargne</p>
             </div>
             <!-- Item -->
             <div class="swiper-slide py-3 text-center" role="group" aria-label="3 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2" data-bs-toggle="modal" data-bs-target="#digi3" style="background-color: #fff">
                <img src="assets/digicredit.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">DigiCredit</p>
             </div>
             <!-- Item -->
             <div class="swiper-slide py-3 text-center" role="group" aria-label="4 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2" data-bs-toggle="modal" data-bs-target="#digi4" style="background-color: #fff">
                <img src="assets/digitransfert.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">DigiTransfert</p>
             </div>
             <!-- Item -->
             <div class="swiper-slide py-3 text-center" role="group" aria-label="5 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2" data-bs-toggle="modal" data-bs-target="#digi5" style="background-color: #fff">
                <img src="assets/digiopa.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">DigiOPA</p>
             </div>
             <!-- Item -->
             <div class="swiper-slide py-3 text-center" role="group" aria-label="6 / 6" style="width: 164.75px; margin-right: 8px;">
                <a href="#" class="card card-body card-hover px-2 mx-2" data-bs-toggle="modal" data-bs-target="#digi6" style="background-color: #fff">
                <img src="assets/digiopd.png" class="d-block mx-auto my-2" width="154" alt="Brand">
                </a>
                <p style="color: white;font-size: 24px;font-weight: bold;margin-top: 4px;">DigiOPD</p>
             </div>
          </div>
          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
       <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </section>

    <!-- Features -->
    <section id="features" style="margin-bottom: 0px!important;" class="container pt-lg-2 pt-xl-3 pb-3 pb-xl-5 mt-n2 mt-sm-0 mb-2 mb-md-4 mb-lg-5">
       <div class="row pb-xl-3">
          <!-- Parallax gfx -->
          <div class="col-lg-5 d-none d-lg-block">
             <div class="position" style="">
                <img src="assets/stb robo hand.png" alt="Phone">
                <div class="rellax position-absolute top-0" data-rellax-vertical-scroll-axis="x" data-rellax-horizontal-speed="0.75" data-disable-parallax-down="lg" style="max-width: 348px; right: -2.75rem; transform: translate3d(0px, 0px, 0px);">
                </div>
             </div>
          </div>
          <!-- Feature list -->
        <div class="col-lg-7">
             <h2 class="pb-3">Gestion des cartes</h2>

             <!-- <h2 class="h1 text-center text-md-start mb-4">Gestion des cartes</h2> -->
             <p class="fs-lg text-muted text-center text-md-start mb-4 mb-xl-5"></p>
             <div class="row row-cols-1 row-cols-sm-2 pt-2 pt-sm-3 pt-xl-2">
                <!-- Item -->
                <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
                   <div class="d-flex align-items-start pe-xl-3">
                      <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                         <img src="assets/img/landing/app-showcase/features/payments.svg" alt="Icon">
                      </div>
                      <div class="ps-4 ps-sm-3 ps-md-4">
                         <h3 class="h5 pb-1 mb-2">Modifier vos plafonds</h3>
                         <!-- <p class="mb-0">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p> -->
                      </div>
                   </div>
                </div>
                <!-- Item -->
                <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
                   <div class="d-flex align-items-start ps-xl-3">
                      <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                         <img src="assets/img/landing/app-showcase/features/security.svg" alt="Icon">
                      </div>
                      <div class="ps-4 ps-sm-3 ps-md-4">
                         <h3 class="h5 pb-1 mb-2">Bloquer/débloquer vos cartes</h3>
                         <!-- <p class="mb-0">Augue pulvinar justo, fermentum fames aliquam accumsan vestibulum non.</p> -->
                      </div>
                   </div>
                </div>
                <!-- Item -->
                <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
                   <div class="d-flex align-items-start pe-xl-3">
                      <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                         <img src="assets/img/landing/app-showcase/features/statistics.svg" alt="Icon">
                      </div>
                      <div class="ps-4 ps-sm-3 ps-md-4">
                         <h3 class="h5 pb-1 mb-2">Suivre vos dépenses</h3>
                         <!-- <p class="mb-0">Mattis urna ultricies non amet, purus in auctor non. Odio vulputate ac nibh.</p> -->
                      </div>
                   </div>
                </div>
                <!-- Item -->
                <div class="col pb-2 pb-xl-0 mb-4 mb-xl-5">
                   <div class="d-flex align-items-start ps-xl-3">
                      <div class="d-table bg-secondary rounded-3 flex-shrink-0 p-3 mb-3">
                         <img src="assets/img/landing/app-showcase/features/support.svg" alt="Icon">
                      </div>
                      <div class="ps-4 ps-sm-3 ps-md-4">
                         <h3 class="h5 pb-1 mb-2">Recharger vos cartes prépayées</h3>
                         <!-- <p class="mb-0">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p> -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- How it works (Slider) -->
    <!-- Fetures -->
    <section class="container  pb-2 pb-md-3 py-lg-5" id="corporate" style="padding-top: 0px!important;">
       <div class="row align-items-center my-3 py-md-3 py-lg-5">
          <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 order-md-2 mb-2 mb-md-0 pb-4 pb-md-0">
             <div class="position-relative mx-auto mx-md-0" style="max-width: 469px;">
                <img src="assets/img/landing/app-showcase/features/screen01.png" class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md" style="transform: translate3d(0px, -53px, 0px);">
                <div class="rellax position-absolute top-0 end-0 w-100 h-100" data-rellax-percentage="0.5" data-rellax-speed="0.75" data-disable-parallax-down="md" style="transform: translate3d(-1px, 80px, 0px);">
                   <img src="assets/img/landing/app-showcase/features/screen02.png" alt="Screen">
                </div>
             </div>
          </div>
         
         
         
         
          <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1 pb-md-4">
             <h2 class="pb-3">Suivi des opérations de transferts internationaux</h2>
             <ul class="list-unstyled pb-3 mb-3">
                <li class="d-flex align-items-center mb-2">
                   <i class="bx bx-check-circle fs-xl text-info me-2"></i>
                 Opérations de transferts Emis
                </li>
                <li class="d-flex align-items-center mb-2">
                   <i class="bx bx-check-circle fs-xl text-info me-2"></i>
         Opérations de transferts Reçus
                </li>
                <li class="d-flex align-items-center mb-2">
                   <i class="bx bx-check-circle fs-xl text-info me-2"></i>
         Opérations de Scolarité
                </li>
             </ul>
          </div>
       </div>
       <div class="row align-items-center mt-2 mt-md-0 pt-5 pt-md-4 pt-lg-0 pb-md-3 pb-lg-5">
          <div class="col-md-6 col-lg-5 offset-xl-1 mb-2 mb-md-0 pb-4 pb-md-0">
             <div class="position-relative mx-auto mx-md-0" style="max-width: 462px;">
                <img src="assets/img/landing/app-showcase/features/screen03.png" class="rellax d-block" alt="Screen" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md" style="transform: translate3d(0px, -87px, 0px);">
                <div class="rellax position-absolute top-0 end-0 w-100 h-100 me-md-n3" data-rellax-percentage="0.5" data-rellax-speed="0.75" data-disable-parallax-down="md" style="transform: translate3d(-1px, 130px, 0px);">
                   <img src="assets/img/landing/app-showcase/features/screen04.png" alt="Screen">
                </div>
             </div>
          </div>
          <div class="col-md-6 col-xl-5 offset-lg-1">
             <h2 class="pb-3">Tracking des opérations à l’international en temps réel</h2>
             <div class="row row-cols-1 row-cols-sm-2 text-start pb-3">
              
             </div>
          </div>
       </div>
       <!-- Extra spacing for dark mode only -->
       <div class="pt-5 d-none d-dark-mode-block"></div>
    </section>

    <section class="container py-5 my-md-3 my-lg-5">
       <div class="row align-items-center">
          <div class="col-md-4 text-center text-md-start">
             <h2 class="h1 mb-4">NOS CADEAUX DE BIENVENUE </h2>
            
          </div>
          <div class="col-md-8">
             <div class="row row-cols-1 row-cols-md-2">
                <div class="col text-md-center pb-2 mb-4">
                   <h3 class="h5 mb-2 mb-md-3">Compte Chèque/Courant</h3>
                   <ul class="d-md-none list-unstyled">
                      <li class="d-flex align-items-center p-2">
                         <span class="text-dark fw-medium">Cadeau de bienvenue:&nbsp;</span>
                         10 DT
                      </li>
                      <li class="d-flex align-items-center p-2 bg-secondary">
                         <span class="text-dark fw-medium">Carte bancaire:&nbsp;</span>
                         Electron
                      </li>
                      <li class="d-flex align-items-center p-2">
                         <span class="text-dark fw-medium">Application gratuite:&nbsp;</span>
                         DigiCarte
                      </li>
                   </ul>
                </div>
                <div class="col text-md-center mb-3">
                   <h3 class="h5 mb-2 mb-md-3">Compte Epargne </h3>
                   <ul class="d-md-none list-unstyled">
                      <li class="d-flex align-items-center p-2">
                         <span class="text-dark fw-medium">Cadeau de bienvenue:&nbsp;</span>
                         10 DT
                      </li>
                      <li class="d-flex align-items-center p-2 bg-secondary">
                         <span class="text-dark fw-medium">Application gratuite:&nbsp;</span>
                         DigiEpargne
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <div class="d-none d-md-block pt-5 mt-2 pb-4">
          <div class="row g-0">
             <div class="col-md-4 text-dark fw-semibold ps-4 pe-2 py-4">Cadeau de bienvenue</div>
             <div class="col-md-8 text-center">
                <div class="row row-cols-2 g-0">
                   <div class="col position-relative bg-info px-2 py-4">
                      <span class="text-light opacity-80">10 DT</span>
                      <span class="position-absolute start-0 bottom-100 w-100 bg-info rounded-3 rounded-bottom-0" style="height: 2rem;"></span>
                   </div>
                   <div class="col px-2 py-4">10 DT</div>
                </div>
             </div>
          </div>
          <div class="row g-0 bg-secondary rounded-3">
             <div class="col-md-4 text-dark fw-semibold ps-4 pe-2 py-4">Carte bancaire</div>
             <div class="col-md-8 text-center">
                <div class="row row-cols-2 g-0">
                   <div class="col bg-info px-2 py-4">
                      <span class="text-light opacity-80">Carte Visa Electron</span>
                   </div>
                   <div class="col px-2 py-4">Livret</div>
                </div>
             </div>
          </div>
          <div class="row g-0 bg-secondary rounded-3">
             <div class="col-md-4 text-dark fw-semibold ps-4 pe-2 py-4">Application gratuite</div>
             <div class="col-md-8 text-center">
                <div class="row row-cols-2 g-0">
                   <div class="col position-relative bg-info px-2 py-4">
                      <span class="text-light opacity-80">Application DigiCarte</span>
                      <span class="position-absolute start-0 top-100 w-100 bg-info rounded-3 rounded-top-0" style="height: 2rem;"></span>
                   </div>
                   <div class="col px-2 py-4">
                      <span class="text-light opacity-80">Application DigiEpargne</span>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- Subscription CTA -->
    
 </main>






