<form (ngSubmit)="onSubmit(cardForm)" #cardForm="ngForm">
  <div>
    <label for="f1Name">Full Name:</label>
    <input type="text" id="f1Name" name="f1Name" [(ngModel)]="demande.f1Name" required>
  </div>
  <div>
    <label for="rib">RIB:</label>
    <label *ngIf="!ribMatch" class="error-message" for="numeroCompte">
      <mat-error>Le RIB ne correspond pas à celui de l'utilisateur connecté.</mat-error>
    </label>
    <input type="text" id="numeroCompte" name="numeroCompte" [(ngModel)]="demande.rib" required>
  </div>
  <div>
    <label for="cin">cin:</label>
    <label *ngIf="!cinMatch" class="error-message" for="cin">
      <mat-error>Le cin ne correspond pas à celui de l'utilisateur connecté.</mat-error>
    </label>
    <input type="text" id="cin" name="cin" [(ngModel)]="demande.cin" required>
  </div>
  <div>
      <label for="dateExpiration">Expiration Date:</label>
    <input type="text" id="dateExpiration" name="dateExpiration" [(ngModel)]="demande.dateExpiration" required>
  </div>
  <button type="submit" [disabled]="!cardForm.valid">Submit</button>
</form>
